@charset "utf-8";

:root {
    --primary-color: #797a7b;
    --secondary-color: #59595a;
    --accent-color: #4d4e4f;
    --brown-color: #656567;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fbfbff;
}

.navbar {
    height: 80px !important; 
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: white !important;
}

.navbar-brand {
    font-size: 24px !important; /* 1.5rem相当 */
    margin-right: 2rem !important;
}

.nav-link {
    font-size: 14px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    line-height: 80px !important; /* ヘッダーの高さと合わせることで上下中央に */
}

/* ボタン専用の設定 */
.btn-login-nav, .btn-post-nav {
    line-height: 1.5 !important; /* ボタン内の文字は中央に */
    margin-top: 20px !important; /* ボタンの高さを調整 */
}